.footer-container {
  color: #fff;
  background-color: #242424;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  border-top: 5px solid #fcfcfc;
  flex-wrap: nowrap;
  /* align-items: center; */

  /* flex-wrap justify-content-between align-items-center py-3 border-top */
}
.btns {
  background-color: #fff;
}

