.outer {
    /* background-color: #fff; */
    background: linear-gradient(#2e3840, #9198e5);
    min-height: 100vh;
}

.main-container {
    color: #ffffff;
    /* background-color: #2e3840; */
    min-height: 90vh;
    background: linear-gradient(#2e3840, #a0a3a7);
    /* border-right: 1px solid #2e3840; */
    padding-top: 25px;
}

.cards * {
    background-color: #2e3840;
}

.pad {
    padding-bottom: 40px;
}

.card-body {
    background-color: #2e3840;
}